@font-face{
    font-family: LatoBold;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face{
    font-family: LatoRegular;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: LatoLight;
    src: url(fonts/Lato-Light.ttf);
}

h1{
    font-family: "LatoLight", sans-serif;
    font-size: 42px;
    color: rgba(255,255,255,1);
}
h3{
    font-family: "LatoLight", sans-serif;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
h4{
    font-family: "LatoRegular";
    font-size: 18px;
    color: rgba(277,106,76,1);
}
h5{
    font-size: 12px;
    font-family: 'LatoRegular';
    color: rgba(179,181,190,1);
}
body{
    font-family: "LatoRegular", sans-serif;
    overflow-x: none;
    max-width: 1280px;
    margin: 0 auto;
}
.hidden{
    display: none;
}
nav{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 20px;
    top: 20px;
    z-index: 10;
}
nav ul{
    float: right;
}
nav ul li{
    margin-right: 15px;
}

.joinUs{
    width: 90px;
    height: 40px;
    background-color: RGBA(255,255,255,1);
    border-radius: 3px;
    font-size: 13px;
    font-family: 'LatoBold';
    color: RGBA(227,105,76,1);
    text-align: center;
    line-height: 40px;
}

ul li{
 list-style-type: none;
 position: relative;
 display: inline-block;
 line-height: 50px;
 font-size: 12px;
 color: white;
}
#hero{
    position: relative;
    display: block;
    background-image: url('../img/hero.png');
    height: 642px;
    background-position: left -430px top -203px;
}
#heroText{
    position: relative;
    top: 132px;    
}
#heroText h1{
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    padding: 0 20px;
    line-height: 46px;
}
#heroText h3{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 25px 20px;
    z-index: 2;
    line-height: 32px;
}
#hero .mask{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.65;
    background: #5C4E48;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.00) 100%);

}
form{
    display: block;
    position: relative;
    /* top: 401px; */
    /* left: 0;
    right: 0; */
    margin-top: 50px;
    max-width: 280px;
    width: 100%;
    margin: auto;
    z-index: 2;
}

#search{
    position: relative;
    display: block;
    font-size: 15px;
    color: rgba(155,157,160,1);
    font-family: 'LatoRegular';
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-radius: 3px;
    z-index: 2;
    margin: 0 auto;
    border: none;
    padding-left: 20px;
}
#people{
    float: left;
}
.customDrop{
    background-image: url('../img/Arrow.png');
    background-position: right 20px center;
    background-size:
        12.05px 6.08px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 15px;
    color: rgba(155,157,160,1);
    font-family: 'LatoRegular';
}
select {
    -moz-appearance: none;
    -webkit-appearance:none;
}
select::-ms-expand {
    display: none;
}

#budget{
    float: right;
}
#people, #budget{
    width: 136px;
    margin: 12px 0;
    height: 50px;
    display: inline-block;
    background-color: rgba(255,255,255,1);
    border: none;

}
#findEvent{
    position: relative;
    display: block;
    width: 280px;
    font-family: 'LatoBold';
    color: rgba(255,255,255,1);
    background-color: rgba(144,196,91,1);
    height: 50px;
    border-radius: 3px;
    z-index: 2;
    margin: 12px auto;
    border: none;
    text-align: center;
    
}
#content ul{
    margin-left: 21px;
    margin-top: 30px;
}
#content ul li{
    color: rgba(77,79,86,1);
    font-size: 15px;
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
}
.thumb{
    display: block;
    height: 261px;
}

.contentBox{
    padding: 20px 0
}
.contentBox h4{
    padding: 5px 0 7px 0;
}

table{
    width: 100%;
}
table tr:first-child td{
    border-top: 1px solid rgba(179,181,190,.4);
    padding: 15px 15px 0px 15px;
    font-size: 12px;
    color: rgba(179,181,190,1);
}
table td{
    width: 50%;
}

table tr td:first-child{
    border-right: 1px solid rgba(179,181,190,.4);
}
table tr:last-child td{
    padding: 6px 15px 10px 15px;
    font-family: 'LatoLight';
    font-size: 16px;
    color: rgba(77,79,86,1);
}

.text-right{
    text-align: right;
}
#discover{
    position: relative;
    display: block;
    margin: 0 auto 50px auto;
    width: 188px;
    height: 50px;
    font-size: 15px;
    font-family: 'LatoBold';
    background-color: rgba(255,255,255,1);
    border: 1px solid #B3B5BE;
    border-radius: 3px;
    color: rgba(144,196,91,1);
}
footer{
    border-top: 1px solid rgba(179,181,190,0.40);
    padding: 35px;
}
#footerLinks{
    text-align: center;
}
footer li, footer li a{
    color: rgba(179,181,190,1);
    font-size: 13px;
    padding: 0 3px;
}
#social {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#social img{
    margin: 10px 10px;
}
#events{
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 20px;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.eventBox{
    vertical-align: top;
    max-width: 347px;
    width: 100%;
    margin: 0 auto;
}
 .active:after {
    background: none repeat scroll 0 0 rgba(144,196,91,1);
    bottom: 10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 35px;
}