/* Styleing Table of Contents*/




/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Begining of Custom CSS */
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: 
        url('/fonts/Lato-Light.woff2') format('woff2'), 
        url('/fonts/Lato-Light.woff') format('woff'),
        url('/fonts/Lato-Light.ttf') format('truetype'),
        url('/fonts/Lato-Light.eot') format('embedded-opentype');
}

@font-face{
    font-family: 'Lato';
    font-weight: 400;
    src: 
        url('/fonts/Lato-Regular.woff2') format('woff2'), 
        url('/fonts/Lato-Regular.woff') format('woff'),
        url('/fonts/Lato-Regular.ttf') format('truetype'),
        url('/fonts/Lato-Regular.eot') format('embedded-opentype');
}
@font-face{
    font-family: 'Lato';
    font-weight: 700;
    src: 
        url('/fonts/Lato-Bold.woff2') format('woff2'), 
        url('/fonts/Lato-Bold.woff') format('woff'),
        url('/fonts/Lato-Bold.ttf') format('truetype'),
        url('/fonts/Lato-Bold.eot') format('embedded-opentype');
}

h1{
    font-family: "LatoLight", sans-serif;
    font-size: 42px;
    color: rgba(255,255,255,1);
}
h3{
    font-family: "LatoLight", sans-serif;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
h4{
    font-family: "LatoRegular";
    font-size: 18px;
    color: rgba(277,106,76,1);
}
h5{
    font-size: 12px;
    font-family: 'LatoRegular';
    color: rgba(179,181,190,1);
}
body{
    font-family: "LatoRegular", sans-serif;
    overflow-x: none;
    max-width: 1280px;
    margin: 0 auto;
}
.hidden{
    display: none;
}
nav{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 20px;
    top: 20px;
    z-index: 10;
}
nav ul{
    float: right;
}
nav ul li{
    margin-right: 15px;
}

.joinUs{
    width: 90px;
    height: 40px;
    background-color: RGBA(255,255,255,1);
    border-radius: 3px;
    font-size: 13px;
    font-family: 'LatoBold';
    color: RGBA(227,105,76,1);
    text-align: center;
    line-height: 40px;
}

ul li{
 list-style-type: none;
 position: relative;
 display: inline-block;
 line-height: 50px;
 font-size: 12px;
 color: white;
}
#hero{
    position: relative;
    display: block;
    background-image: url('../img/hero.png');
    height: 642px;
    background-position: left -430px top -203px;
}
#heroText{
    position: relative;
    top: 132px;    
}
#heroText h1{
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    padding: 0 20px;
    line-height: 46px;
}
#heroText h3{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 25px 20px;
    z-index: 2;
    line-height: 32px;
}
#hero .mask{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.65;
    background: #5C4E48;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.00) 100%);

}
form{
    display: block;
    position: relative;
    /* top: 401px; */
    /* left: 0;
    right: 0; */
    margin-top: 50px;
    max-width: 280px;
    width: 100%;
    margin: auto;
    z-index: 2;
}

#search{
    position: relative;
    display: block;
    font-size: 15px;
    color: rgba(155,157,160,1);
    font-family: 'LatoRegular';
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-radius: 3px;
    z-index: 2;
    margin: 0 auto;
    border: none;
    padding-left: 20px;
}
#people{
    float: left;
}
.customDrop{
    background-image: url('../img/arrow.svg');
    background-position: right 20px center;
    background-size:
        12.05px 6.08px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 15px;
    color: rgba(155,157,160,1);
    font-family: 'LatoRegular';
}
select {
    -moz-appearance: none;
    -webkit-appearance:none;
}
select::-ms-expand {
    display: none;
}

#budget{
    float: right;
}
#people, #budget{
    width: 136px;
    margin: 12px 0;
    height: 50px;
    display: inline-block;
    background-color: rgba(255,255,255,1);
    border: none;

}
#findEvent{
    position: relative;
    display: block;
    width: 280px;
    font-family: 'LatoBold';
    color: rgba(255,255,255,1);
    background-color: rgba(144,196,91,1);
    height: 50px;
    border-radius: 3px;
    z-index: 2;
    margin: 12px auto;
    border: none;
    text-align: center;
    
}
#content ul{
    margin-left: 21px;
    margin-top: 30px;
}
#content ul li{
    color: rgba(77,79,86,1);
    font-size: 15px;
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
}
.thumb{
    display: block;
    height: 261px;
}

.contentBox{
    padding: 20px 0
}
.contentBox h4{
    padding: 5px 0 7px 0;
}

table{
    width: 100%;
}
table tr:first-child td{
    border-top: 1px solid rgba(179,181,190,.4);
    padding: 15px 15px 0px 15px;
    font-size: 12px;
    color: rgba(179,181,190,1);
}
table td{
    width: 50%;
}

table tr td:first-child{
    border-right: 1px solid rgba(179,181,190,.4);
}
table tr:last-child td{
    padding: 6px 15px 10px 15px;
    font-family: 'LatoLight';
    font-size: 16px;
    color: rgba(77,79,86,1);
}

.text-right{
    text-align: right;
}
#discover{
    position: relative;
    display: block;
    margin: 0 auto 50px auto;
    width: 188px;
    height: 50px;
    font-size: 15px;
    font-family: 'LatoBold';
    background-color: rgba(255,255,255,1);
    border: 1px solid #B3B5BE;
    border-radius: 3px;
    color: rgba(144,196,91,1);
}
footer{
    border-top: 1px solid rgba(179,181,190,0.40);
    padding: 35px;
}
#footerLinks{
    text-align: center;
}
footer li, footer li a{
    color: rgba(179,181,190,1);
    font-size: 13px;
    padding: 0 3px;
}
#social {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#social img{
    margin: 10px 10px;
}
#events{
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 20px;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.eventBox{
    vertical-align: top;
    max-width: 347px;
    width: 100%;
    margin: 0 auto;
}
 .active:after {
    background: none repeat scroll 0 0 rgba(144,196,91,1);
    bottom: 10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 35px;
}

/* iphone 5 Media Query */
/* -- main css */

/* Intermediate Media Query */

/* tablet Media Query */

@media screen and (max-width: 768px) and (min-width: 501px) {
    nav{
        padding: 0 40px;
        width: 100%;
    }
    #heroText{
        top: 160px;
    }
    #heroText h1{
        padding: 0 40px;
    }
    #hero h3{
        font-size: 22px;
        padding: 15px 40px 50px;
    }
    form{
        max-width: 580px;
        width: 90%;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    .hidden{
        display: inline-block;
    }
    #hero{
        height: 550px;   
        background-position: left -280px top -295px
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }
    .eventBox{
        margin: none;
        max-width: none;
    }
    .eventBox:not(:first-child){
        display: inline-block;
        max-width:325px;
        width: 48%;
    }

    .eventBox:first-child .thumb{
        max-width: 688px;
        width: 100%;
        height: 320px;
    }
    .thumb{
        height: auto;
    }
    .eventBox:not(:first-child):nth-child(even){
        float: left;
    }
    .eventBox:not(:first-child):nth-child(even){
        float: right;
    }
    .eventBox:not(:first-child) .aspect{
        position: relative;
        padding-bottom: 82%;
    }
    .eventBox:not(:first-child) .thumb{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: none;
    }

    #budget{
        margin-right: 1%;
        margin-left: 1%;
    }
    h4{
        font-size: 20px;
    }

    #events{
        padding: 30px 40px;
    }
    #content ul{
        margin-left: 40px;
    }

}


@media screen and (max-width: 1130px) and (min-width: 769px) {
    nav{
        padding: 0 40px;
        width: 100%;
    }
    #heroText{
        top: 160px;
    }
    #heroText h1{
        padding: 0 40px;
    }
    #hero h3{
        font-size: 22px;
        padding: 15px 40px 50px;
    }
    form{
        max-width: 580px;
        width: 90%;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    .hidden{
        display: inline-block;
    }
    #hero{
        height: 550px;   
        background-position: left -280px top -295px
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }
    .eventBox{
        margin: none;
        max-width: none;
        display: block;
        max-width:688px;
        margin: 0 auto;
    }

    .eventBox .thumb{
        max-width: 688px;
        width: 100%;
        height: 320px;
    }
    #budget{
        margin-right: 1%;
        margin-left: 1%;
    }
    h4{
        font-size: 20px;
    }

    #events{
        padding: 30px 40px;
    }
    #content ul{
        margin-left: 40px;
    }

}


/* desktop Media Query */
@media screen and (min-width: 1131px) {
    nav{
        padding: 0 40px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    #heroText{
        top: 205px;
    }
    #heroText h1{
        font-size: 64px;
        padding: 0 40px;
    }
    #heroText h3{
        font-size: 32px;
        padding: 25px 40px 65px;
    }
    #hero{
        height: 660px;   
        background-position: top -185px left 0px;   
    }
    .hidden{
        display: inline-block;
    }
    form{
        max-width: 580px;
        width: 100%;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }

    .eventBox{
        display: inline-block;
        width:32%;
    }
    .eventBox:nth-child(3n + 2){
        margin: 0 2%;
    }
    #budget{
        margin-right: 1.25%;
        margin-left: 1.25%;
    }
    h4{
        font-size: 20px;
    }
    #events{
        padding: 30px 84px;
    }
    #content ul{
        margin-left: 84px;
    }
    .contentBox h4{
        padding: 5px 0 17px 0;
    }
    table tr:last-child td{
        font-size: 18px;
    }    
    .thumb{
        max-width: 343px;
    }
}

