/* iphone 5 Media Query */
/* -- main css */

/* tablet Media Query */
@media screen and (max-width: 768px) and (min-width: 321px) {
    nav{
        left: 40px;
        right: 40px;
        max-width: 688px;
        width: 100%;
    }
    #hero h1{
        top: 160px;
    }
    #hero h3{
        top: 221px;
        font-size: 22px;
    }
    form{
        top: 300px;
        width: 580px;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    .hidden{
        display: inline-block;
    }
    #hero{
        height: 550px;   
        background-position: left -280px top -295px
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }
    .eventBox:not(:first-child){
        display: inline-block;
        width: 50%;
    }
    .eventBox:first-child .thumb{
        width: 688px;
        height: 320px;
    }
    .eventBox:not(:first-child){
        width:325px;
    }
    .eventBox:not(:first-child):nth-child(even){
        float: left;
    }
    .eventBox:not(:first-child):nth-child(even){
        float: right;
    }
    #budget{
        margin-right: 1.25%;
        margin-left: 1.25%;
    }
    h4{
        font-size: 20px;
    }

    #events{
        padding: 30px 40px;
    }
    #content ul{
        margin-left: 40px;
    }
}

/* desktop Media Query */
@media screen and (min-width: 769px) {
    nav{
        left: 40px;
        right: 40px;
        max-width: 1200px;
        width: 100%;
    }
    #hero h1{
        top: 160px;
        font-size: 64px;
    }
    #hero h3{
        top: 244px;
        font-size: 32px;
    }
    #hero{
        height: 745px;   
        background-position: top -100px left 0px;   
    }
    .hidden{
        display: inline-block;
    }
    form{
        width: 580px;
    }
    form{
        top: 345px;
        width: 580px;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }

    .eventBox{
        display: inline-block;
        width:32%;
    }
    .eventBox:nth-child(3n + 2){
        margin: 2%;
    }
    #budget{
        margin-right: 1.25%;
        margin-left: 1.25%;
    }
    h4{
        font-size: 20px;
    }
    #events{
        padding: 30px 84px;
    }
    #content ul{
        margin-left: 84px;
    }
    .contentBox h4{
        padding: 5px 0 17px 0;
    }
    table tr:last-child td{
        font-size: 18px;
    }

}

