/* iphone 5 Media Query */
/* -- main css */

/* Intermediate Media Query */

/* tablet Media Query */

@media screen and (max-width: 768px) and (min-width: 501px) {
    nav{
        padding: 0 40px;
        max-width: 688px;
        width: 100%;
    }
    #heroText{
        top: 160px;
    }
    #heroText h1{
        padding: 0 40px;
    }
    #hero h3{
        font-size: 22px;
        padding: 15px 40px 50px;
    }
    form{
        max-width: 580px;
        width: 90%;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    .hidden{
        display: inline-block;
    }
    #hero{
        height: 550px;   
        background-position: left -280px top -295px
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }
    .eventBox{
        margin: none;
        max-width: none;
    }
    .eventBox:not(:first-child){
        display: inline-block;
        max-width:325px;
        width: 48%;
    }

    .eventBox:first-child .thumb{
        max-width: 688px;
        width: 100%;
        height: 320px;
    }
    .eventBox:not(:first-child):nth-child(even){
        float: left;
    }
    .eventBox:not(:first-child):nth-child(even){
        float: right;
    }
    #budget{
        margin-right: 1%;
        margin-left: 1%;
    }
    h4{
        font-size: 20px;
    }

    #events{
        padding: 30px 40px;
    }
    #content ul{
        margin-left: 40px;
    }

}

/* desktop Media Query */
@media screen and (min-width: 769px) {
    nav{
        padding: 0 40px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    #heroText{
        top: 205px;
    }
    #heroText h1{
        font-size: 64px;
        padding: 0 40px;
    }
    #heroText h3{
        font-size: 32px;
        padding: 25px 40px 65px;
    }
    #hero{
        height: 660px;   
        background-position: top -185px left 0px;   
    }
    .hidden{
        display: inline-block;
    }
    form{
        max-width: 580px;
        width: 100%;
    }
    #people, #budget, #findEvent{
        width: 32%;
        float: none;
        display: inline-block;
    }
    #social{
        display: inline-block;
        float: right;
    }
    #footerLinks{
        display: inline-block;
        text-align: left;
    }

    .eventBox{
        display: inline-block;
        width:32%;
    }
    .eventBox:nth-child(3n + 2){
        margin: 0 2%;
    }
    #budget{
        margin-right: 1.25%;
        margin-left: 1.25%;
    }
    h4{
        font-size: 20px;
    }
    #events{
        padding: 30px 84px;
    }
    #content ul{
        margin-left: 84px;
    }
    .contentBox h4{
        padding: 5px 0 17px 0;
    }
    table tr:last-child td{
        font-size: 18px;
    }    
    .thumb{
        max-width: 343px;
    }
}

