<div id=hero>
    <div id="heroText">
        <h1>Amazing performances near you</h1>
        <h3>Discover the top live music events in the Southeast</h3>
        <form>
            <input id="search" type="text" placeholder="Enter your favorite artist or genre">
            <select id="people" class="customDrop">
                <option value="" default>Location</option>
            </select>
            <select id="budget" class="customDrop">
                <option value="" default>Budget</option>                        
            </select>
            <input id="findEvent" type="submit" value="Find events">
        </form>
    </div>
    <div class="mask"></div>
</div>
<div id=content>
    <ul>
        <li ng-class="{'active': filters === 0}" ng-click="filters = 0">Most Popular</li>
        <li ng-class="{'active': filters === 1}" ng-click="filters = 1">Coming up</li>
        <li ng-class="{'active': filters === 2}" ng-click="filters = 2">Near you</li>
    </ul>
    <div id="events">
        <div id="event{{event.id}}" class="eventBox" ng-repeat="event in events">
            <div class="aspect">
                <div class="thumb" ng-style="event.currentMedia"></div>
            </div>
            <div class="contentBox">
                <h5>{{event.type | uppercase }}</h5>
                <h4>{{event.title}}</h4>
                <table>
                    <tr>
                        <td class="text-right">LOCATION</td>
                        <td>PRICE</td>
                    </tr>
                    <tr>
                        <td class="text-right">{{event.city}}, {{event.state}}</td>
                        <td>{{event.priceLow | currency: "$": 0}}-{{event.priceHigh | number}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <button id="discover">Discover more</button>
</div>